<!DOCTYPE html>
<html>
<head>
	<meta name = "viewport" content = "device-width=screen-width, initial-scale=1.0"/>
	<title>Rease Login page with Python</title>
	<link href = "bootstrap/css/bootstrap.min.css" rel  = "stylesheet"/>
    <link href = "rease.css" rel  = "stylesheet"/>
    
	<script src = "jquery_224.js" type = "text/javascript" ></script>
	<script src = "bootstrap/js/bootstrap.min.js" type = "text/javascript" ></script>
	<script type  = "text/javascript">
	</script>
</head>
<body onload = "">
<div class = "container">	
{{ name }}
	<h3 class = "row-xs-4  well" id = "heading"> Welcome to ReaSE Login Portal </h3>
	<div id = "loginHolder"  align = "" class = "row-xs-3 well">
	<form action = "/login_check" method = "POST">
	<input type = "text" id = "username" name = "username" placeholder = "username"/><br/>
	<input type = "password" id = "password" name= "password"  placeholder = "password"/></br>
	<input type = "submit"/>
	</form>
	</div>
	<div class = "col-xs-9"></div>
</div>
</body>
</html>