<!DOCTYPE html>
<html>
<head>
	<meta name = "viewport" content = "device-width=screen-width, initial-scale=1.0"/>
	<title>Welcome to ReaSE</title>
	<link href = "bootstrap/css/bootstrap.min.css" rel  = "stylesheet"/>
    <link href = "css/login.css" rel  = "stylesheet"/>
    
	<script src = "jquery_224.js" type = "text/javascript" ></script>
	<script src = "bootstrap/js/bootstrap.min.js" type = "text/javascript" ></script>
	<script type  = "text/javascript">
	obj = 
	{
			xhr: new XMLHttpRequest(),
			
			submit_check: function ()
			{
				
				console.log("submit_check");
				username = $("input#username")
				username.prop("readonly",true);
				password = $("input#password")
				password.prop("readonly",true);
				$("#notification").html("");
				obj.xhr.open("POST","http://localhost:1729/login_check",true);
				//obj.xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
				obj.xhr.onreadystatechange = obj.submit_results;
				form = new FormData();
				form.append("username",username.val());
				form.append("password",password.val());
				obj.xhr.send(form);
			},
			
			submit_results: function()
			{
				console.log("submit_result: state:"+this.readyState+", status:"+this.status);	
				if( this.readyState == 4 && this.status == 200 )
				{
					console.log((this.responseText),typeof(this.responseText));
					if( this.responseText == "false")
					{
						$("#notification").html("Bugger!! Either the username or password is wrong. Check and Try again");
						username.prop("readonly",false);
						password.prop("readonly",false);
					}
				}
			},
			
	}
	</script>
</head>
<body onload = "">
<div class = "container" id = "container-1" style = "background-color:">	
{{ name }}
	<div class = "row">
		<nav class = "navbar navbar-default" role = "navigation" >
		<div class = "navbar-header"><a class = "navbar-brand" href = "#">ReaSE</a></div>
		<div  class = "navbar-text" ><a class = "navbar-link" href = "#">Try ReaSE</a></div>
		</nav>
	</div>
	<div class = "row" >
		<span class = "col-xs-4 "></span>
		<h3 class = "col-xs-4  well" id = "heading"> Welcome to ReaSE Login Portal </h3>
		<span class = "col-xs-4"></span>
	</div>
	<div class = "row">
		<span class = "col-xs-4"></span>
		<form role = "form" >
		<div id = "form-group" class = "col-xs-4 well">
		<div id = "notification" class = "text-warning" ></div>
		<input type = "text" id = "username" class = "form-control" name = "username" 	placeholder = "username" /><br/>
		<input type = "password" id = "password" class = "form-control" name= "password"  placeholder = "password"/></br>
		<button type = "button" if = "sign_in" class = "btn btn-primary form-control"
		value = "Sign In" onclick = "obj.submit_check()";>
		Sign In 
		</button>
		</div>
		</form>
		<span class = "col-xs-4"></span>
	</div>
</div>
</body>
</html>